{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Snippets</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
        </tr>
        {{range .Snippets}}
        <tr>
            <td><a href='/snippet/view?id={{.ID}}'>{{.Title}}</a></td>
            <td>{{.Created | humanDate | printf "Created: %s"}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{else}}
        <td>There's nothing to see here yet!</td>
        {{end}}
    </table>
{{end}}